<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="stylesheet" href="./stylesheets/site.css" />
    <!-- <%= stylesheet_link_tag "site" %> -->
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <% data.pages.each do |p| %>
          <li><a href="<%= p.href %>"><%= p.name %></a></li>
        <% end %>
      </ul>
    </nav>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html> 
