<!-- HTML file which includes research information; peronnel, projects, and software -->
---
title: My Research
---

<h1>Research</h1>
<div>
	<div>
		<h2>Personnel</h2>
      		<label>Current</label>
		    	<ul>
          			<% data.research.personnel.present.each do |e| %>
            			<li><%= e.name %></li>
          			<% end %>
        		</ul>
        	<label>Past</label>
        		<ul>
        			<% data.research.personnel.past.each do |e| %>
        				<li><%= e.name %></li>
        			<% end %>
        		<ul>
	</div>
	<div>
		<h2>Projects</h2>
			<label>Data Sparsification</label>
				<ul>
					<% data.research.projects.datasparse.each do |e| %>
						<li><%= e.name %></li>
					<% end %>
				</ul>
			<label>Homology Features</label>
				<ul>
					<% data.research.projects.homologyfeatures.each do |e| %>
						<li><%= e.name %></li>
					<% end %>
				</ul>
			<label>Meshing</label>
				<ul>
					<% data.research.projects.meshing.each do |e| %>
						<li><%= e.name %></li>
					<% end %>
				</ul>
			<label>Reconstruction</label>
				<ul>
					<% data.research.projects.reconstruction.each do |e| %>
						<li><%= e.name %></li>
					<% end %>
				</ul>
			<label>Shape Features</label>
				<ul>
					<% data.research.projects.shapefeatures.each do |e| %>
						<li><%= e.name %></li>
					<% end %>
				</ul>
			<label>Miscellaneous</label>
				<ul>
					<% data.research.projects.misc.each do |e| %>
						<li><%= e.name %></li>
					<% end %>
				</ul>
	</div>
	<div>
		<h2>Software</h2>
		<label>Data Sparsification</label>
		<ul>
			<% data.research.software.sparsification.each do |e| %>
				<li><%= e.item %></li>
			<% end %>
		</ul>
		<label>Homology Features</label>
		<ul>
			<% data.research.software.homologyfeatures.each do |e| %>
				<li><%= e.item %></li>
			<% end %>
		</ul>
		<label>Meshing</label>
		<ul>
			<% data.research.software.meshing.each do |e| %>
				<li><%= e.item %></li>
			<% end %>
		</ul>
		<label>Reconstruction</label>
		<ul>
			<% data.research.software.reconstruction.each do |e| %>
				<li><%= e.item %></li>
			<% end %>
		</ul>
		<label>Shape Features</label>
		<ul>
			<% data.research.software.shapefeatures.each do |e| %>
				<li><%= e.item %></li>
			<% end %>
		</ul>
		<label>Miscellaneous</label>
		<ul>
			<% data.research.projects.misc.each do |e| %>
				<li><%= e.name %></li>
			<% end %>
		</ul>
</div>
