<h1>Professional Activities</h1>
<div>
	<div>
		<h2>Program Committee Member</h2>
			<ul>
      			<% data.profAct.progComMem.each do |e| %>
      				<li>
      					<%= e.title %>" "<%= e.year %>
      				</li>
      			<% end %>
      		</ul>
	</div>
	<div>
		<h2>Invited Talks</h2>
			<% data.profAct.invTalks.each do |e| %>
				<h4>
					<%= e.talk %>
				</h4>
				<ul>
					<li>
						"LocatiAon: "<%= e.location %>
					</li>
					<li>
						"Date: "<%= e.date %>
					</li>
				</ul>
			<% end %>
	</div>
	<div>
		<h2>Other Activities</h2>
			<h3>Editorial Board</h3>
				<ul>
					<% data.profAct.otherAct.editBoard.each do |e| %>
						<li>
							<%= e.activity %>
						</li>
					<% end %>
				</ul>
			<h3>Organizer</h3>
				<ul>
					<% data.profAct.otherAct.organizer.each do |e| %>
						<li>
							<%= e.name %>
						</li>
					<% end %>
				</ul>
			<h3>Tutorials</h3>
				<ul>
					<% data.profAct.otherAct.tutorials.each do |e| %>
						<li>
							<%= e.name %>
						</li>
					<% end %>
				</ul>
			<h3>Miscellaneous</h3>
				<% data.profAct.otherAct.actMisc.each do |e| %>
					<h4>
						<%= e.name %>
					</h4>
					<ul>
						<li>
							<%= e.link %>
						</li>
					</ul>
				<% end %>
	</div>
</div>
