<h1>Professional Activities</h1>
<div>
	<div>
		<h2>Program Committee Member</h2>
		<ul>
			<% data.profAct.progComMem.each do |e| %>
				<li>
					<%= e.title %>: 
					<% e.years.each do |y| %>
						<%= y %>,
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
	<div>
		<h2>Invited Talks</h2>
		<ul>
			<% data.profAct.invTalks.each do |e| %>
				<li>
					<label>
						<%= e.talk %>
					</label>
					<ul>
						<li>
							Location: <%= e.location %>
						</li>
						<li>
							Date: <%= e.date %>
						</li>
					</ul>
				</li>
			<% end %>
		</ul>
	</div>
	<div>
		<h2>Other Activities</h2>
		<ul>
			<li>
				<label>Editorial Board</label>
				<ul>
					<% data.profAct.otherAct.editBoard.each do |e| %>
						<li>
							<%= e.activity %>
						</li>
					<% end %>
				</ul>
			</li>
			<li>
				<label>Organizer</label>
				<ul>
					<% data.profAct.otherAct.organizer.each do |e| %>
						<li>
							<%= e.name %>
						</li>
					<% end %>
				</ul>
			</li>
			<li>
				<label>Tutorials</label>
				<ul>
					<% data.profAct.otherAct.tutorials.each do |e| %>
						<li>
							<%= e.name %>
						</li>
					<% end %>
				</ul>
			</li>
			<li>
				<label>Miscellaneous</label>
				<ul>
					<% data.profAct.otherAct.actMisc.each do |e| %>
						<li>
							<label>
								<%= e.name %>
							</label>
							<ul>
								<li>
									<%= e.link %>
								</li>
							</ul>
						</li>
					<% end %>
				</ul>
			</li>
		</ul>
	</div>
</div>
