<h1>Tamal Krishna Dey</h1>
<%= link_to("Curriculum  Vitae", "https://web.cse.ohio-state.edu/~dey.8/cv.pdf",target: "_blank") %>
  <p>Professor</p>
  <%= link_to("Fellow ACM", "https://www.acm.org/media-center/2018/december/fellows-2018",target: "_blank") %>
  <%= link_to("Fellow IEEE", "https://www.computer.org/web/pressroom/CS-Fellows-2017",target: "_blank") %>
  <%= link_to("Fellow SMA", "http://solidmodeling.org/awards/sma-fellows/sma-fellows-2019/",target: "_blank") %>
<div>
<%= link_to("Department of Computer Science and Engineering ", "https://www.cse.ohio-state.edu",target: "_blank") %>
<h2>The Ohio State University </h2>
<p>e-mail: tamaldey at cse.ohio-state.edu</p>
<p>Joined Aug 17, 2020</p>
<p>Department of Computer Science </p>
<p>Purdue University</p>
<p>e-mail: tamaldey@purdue.edu</p>

</div>

<h2>Books</h2>
<div>
  <% data.books.each do |b| %>
    <p><%= b.title %></p>
    <p><%= b.author %></p>
    <p><%= b.publisher %></p>
    <p><%= b.sample_chapters %></p>
  <% end %>
</div>
